:host {
  display: block;
}

:host #clock {
  font-size: 0;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}

:host #clock * {
  font-size: 70px;
}

:host #clock > span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 1px 1px 1px #555;
  background-color: #333;
  background: -webkit-linear-gradient(top, #333 0%, #444 50%, #333 51%, #222 100%);
  background: linear-gradient(to bottom, #333 0%,#444 50%,#333 51%,#222 100%);
}

:host #clock > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #111;
}

:host #clock > b {
  color: #333;
  margin-right: 10px;
}

:host .btn {
  margin: 20px 10px 10px 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
  color: #dedede;
  background-color: #333;
}
